.container {
    width: 800px;
    margin: 0 auto;
}

.color {
    width: 100%;
    background-color: lightgrey;
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}