.card-background-page {
  img {
    height: 50%;
    opacity: 0.45;
  }
  .ion-card {
    position: relative;
    text-align: center;
  }
  .card-title {
    position: relative;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #0039a6;
    text-align: center;
    top: -490px;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: relative;
    width: 100%;
    color: #0039a6;
    text-align: center;
    top: -480px;
  }
}
