billboard {
    display: table;
    font-family: Arial, Helvetica, sans-serif;
}

song {
    display: table-row;
    border: solid 1px black;
}

rank {
    display: table-cell;
    border: solid 1px black;
}

title {
    display: table-cell;
    border: solid 1px black;
}

artist {
    display: table-cell;
    border: solid 1px black;
    color: red;
}

album {
    display: table-cell;
    border: solid 1px black;
}

last-week {
    display: table-cell;
    border: solid 1px black;
}

header {
    display: table-row;
    border: solid 1px black;
}

h {
    display: table-cell;
}